<header>
  <img src="./assets/picture.jfif" />
  EasyShopper
</header>
<ng-container *ngIf="!detection?.detections">
  <webcam [trigger]="trigger$" (imageCapture)="saveImage($event)"></webcam>
  <button (click)="captureImg()">Capture</button>
</ng-container>


<div class="result" *ngIf="detection?.detections" >
  <b>Detected a </b>
  {{ detection.detections.labels[0].Label }}
  <p><b>Price per kg :</b>
    {{ prices[detection.detections.labels[0].Label] }}
     USD</p>
  <b>Weight: </b>
  <input [(ngModel)]="weight" class="result"/>
  <p><b>Price:</b>
     {{ prices[detection.detections.labels[0].Label] * weight || 0 }}
    </p>
  <button (click)="detection = null">Go Back</button>
</div>
